@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>This Web app build on ASP.NET Core Identity Service, "CMS" (Content Managment System).</p>
</div>
<hr />
<div class="row">
    <div class="col-3">
        <a class="btn btn-primary m-1" asp-action="Assignment">Assignment</a>
        <a class="btn btn-primary ml-1 " asp-action="TestPage">Test Page</a>
    </div>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") && User.IsInRole("Super Admin"))
    {
        <div class="col-8">

            <a class="btn btn-warning m-1 font-weight-bold" asp-controller="Administration" asp-action="RoleList">Roles List</a>

            <a class="btn btn-warning ml-1 font-weight-bold" asp-controller="Administration" asp-action="CreateRole">Create Role</a>

        </div>
    }

</div>
