@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>This Web app build for ASP.NET Core Identity Service, "CMS" (Content Managment System).</p>
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Assignment" >Assignment</a>
    <span><a class="btn btn-primary ml-1" asp-action="TestPage">Test Page</a></span>
</div>
