.redColor {
    color: red;
}

.orange{
    color:orange;
}

.tomatoColor{
    color: tomato;
}

.darkRed{
    color: darkred;
}

.violetColor{
    color: violet;
}

.dodgerBlue {
    color: DodgerBlue;

}

.slateBlue{
    color: slateblue;
}

.mediumSeaGreen {
    color: MediumSeaGreen;
}

.delete-button {
    color: white !important;
    cursor: pointer;
}

.btn-tomato {
    color: #fff;
    background-color: tomato;
    border-color: tomato;
}
